<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Menú Empleado</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>
    <body class="d-flex flex-column align-items-center min-vh-100 py-4 bg-body-tertiary">

        <div class="container py-3">
            <header>
                <nav class="navbar navbar-expand-md navbar-primary fixed-top bg-primary">
                    <div class="container-fluid">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/empleado/logout}">Cerrar Sesión</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <br>
                <br>
                <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                    <h1 class="display-4 fw-normal text-body-emphasis">Menú Principal de Empleado</h1>
                    <h3><p>Bienvenido <span th:text="${session.nombreEmpleado}"></span></p></h3> 
                    <h3>Mis Operaciones:</h3> 
                </div>
            </header>
            <main class="form-signin w-100 m-auto">
                <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center"> 
                    <div class="list-group"> 

                        <a th:href="@{/empleado/mis-datos}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true"> 
                            <div class="d-flex gap-2 w-100 justify-content-between"> 
                                <div> 
                                    <h4 class="mb-0">Ver Mis Datos</h4> 
                                    <p class="mb-0 opacity-75">Consultar mi información personal</p> 
                                </div> 
                            </div> 
                        </a> 

                        <a th:href="@{/empleadoasignacion/listar}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true"> 
                            <div class="d-flex gap-2 w-100 justify-content-between"> 
                                <div> 
                                    <h4 class="mb-0">Ver Órdenes de Trabajo Asignadas</h4> 
                                    <p class="mb-0 opacity-75">Vista de Trabajos Asignadas</p> 
                                </div> 
                            </div> 
                        </a> 
                        <a th:href="@{/vehiculo/listar}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true"> 
                            <div class="d-flex gap-2 w-100 justify-content-between"> 
                                <div> 
                                    <h4 class="mb-0">Consultar Vehículos Registrados</h4> 
                                    <p class="mb-0 opacity-75">Vista Vehículos Asignados</p> 
                                </div> 
                            </div> 
                        </a> 
                        <a th:href="@{/mantenimiento/listar}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true"> 
                            <div class="d-flex gap-2 w-100 justify-content-between"> 
                                <div> 
                                    <h4 class="mb-0">Consultar Tipos de Mantenimiento</h4> 
                                    <p class="mb-0 opacity-75">Vista de mantenimientos</p> 
                                </div>
                            </div> 
                        </a> 
                    </div> 
                </div>
            </main> 
        </div>

        <footer class="mt-auto py-3 border-top">
            <p class="text-body-secondary">© 2025 TP final</p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>