<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Empleados</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body class="d-flex flex-column align-items-center min-vh-100 py-4 bg-body-tertiary">
    <div class="container py-3">
        <header>
            <nav class="navbar navbar-expand-md navbar-primary fixed-top bg-primary">
                <div class="container-fluid">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/administrador/logout}">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <br>
            <br>
            <br>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal text-body-emphasis">Lista de Empleados</h1>
            </div>
        </header>
        <main class="form-signin w-100 m-auto">
                <div th:if="${empleados.empty}">
                    <p>No hay empleados registrados.</p>
                </div>
                

                <div th:unless="${empleados.empty}">
                    <table class="table table-striped table-hover table-bordered border-primary">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>DNI</th>
                            <th>Nombre</th>
                            <th>Especialidad</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                                <tr th:each="empleado : ${empleados}">
                                    <td th:text="${empleado.id}"></td>
                                    <td th:text="${empleado.dni}"></td>
                                    <td th:text="${empleado.nombre}"></td>
                                    <td th:text="${empleado.especialidad?.tipoEspecialidad}"></td>
                                    <td th:text="${empleado.direccion}"></td>
                                    <td th:text="${empleado.telefono}"></td>
                                    <td>
                                    <a class="btn btn-outline-primary" role="button" th:href="@{/empleado/editar/{id}(id=${empleado.id})}">Editar</a>
                                    <a class="btn btn-outline-primary" role="button" th:href="@{/empleado/eliminar/{id}(id=${empleado.id})}" 
                                onclick="return confirm('¿Está seguro?');">Eliminar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

        </main>
        <br>
        <a class="btn btn-primary" role="button" onclick="history.back()">Volver a Menu</a>
    </div>
      <footer class="mt-auto py-3 border-top">
    <p class=" text-body-secondary">© 2025 TP final</p>
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>